.grid {
  display: flex;
  width: 380px;
  height: 100%;
  max-height: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  flex-shrink: 0;
}

.image-wrapper {
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 16px 16px 0 16px;
  position: relative;
  cursor: pointer; 

}

.grid-image {
  width: 100%;
  height: 100%;
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  border-radius: 16px 16px 0 16px;
}

.grid-image:hover {
  filter: brightness(0.7); 
  transition: filter 0.3s ease;
}

.grid-card {
  display: inline-flex;
  padding: 0px 0 0 14px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 24px 0 0 0;
  background: #0A0B0A;
  position: absolute;
  bottom: 0;
  right: 0;
}

.image-wrapper:nth-child(1) .grid-card {
  width: 111px;
  height: 44px;
}

.image-wrapper:nth-child(2) .grid-card {
  width: 120px;
  height: 44px;
}

.image-wrapper:nth-child(3) .grid-card {
  width: 119px;
  height: 44px;
}

.rounded-edge-left {
  width: 24px;
  height: 24px;
  position: absolute;
  left: -24px;
  bottom: 0;
}

.rounded-edge-top {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  top: -24px;
}

.button-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  margin-top: 6px;
  position: relative;
}

.button-text {
  color: #EFE7D2;
  font-family: Forum, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
}

.icon-badge {
  display: flex;
  width: 22px;
  height:22px;
  padding: 6px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 500px;
  border: 1px solid rgba(239, 231, 210, 0.15);
  background: rgba(24, 24, 24, 0.50);
  position: relative;
}

.icon-badge svg {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  position: relative;
}
