.hero-container {
  width: 1276px;
  height: calc(100vh - 92px);
  max-height: 1032px;
  position: relative;
  flex-shrink: 0;
}


.hero-main-wrapper {
  width: 100%;
  height: 100%;
}


.hero-background-image {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  border-radius: 16px;
}

.hero-foreground-image {
  width: 60%;
  height: auto;
  max-width: 858px;
  flex-shrink: 0;
  aspect-ratio: 858.24 / 651.55;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
